
// Top bar
.top-bar.clearfix
    .top-bar__email
        .top-bar__email-i-wrapper
            i.fa.fa-envelope-o(aria-hidden="true")
        p support@money4chat.com
    .top-bar__social
        .top-bar__social__item-bg
            a.top-bar__social__item(href="#")
                i.fa.fa-vk(aria-hidden="true")
        .top-bar__social__item-bg
            a.top-bar__social__item(href="#")
                i.fa.fa-facebook(aria-hidden="true")
        .top-bar__social__item-bg
            a.top-bar__social__item(href="#")
                i.fa.fa-instagram(aria-hidden="true")
        .top-bar__social__item-bg
            a.top-bar__social__item(href="#")
                i.fa.fa-telegram(aria-hidden="true")
// //Top bar 

// Nav block
.nav-block-wrapper
    .logo
        a(href="#")
            h1 Money4Chat
    nav.navigation-wrapper
        ul
            li
                a(href="#", target="self") Home
            li
                a(href="#", target="self") About
            li
                a(href="#", target="self") Marketing
    .language-switcher

// //Nav block

// Main banner

.main-banner
    .container.main-banner__content-wrapper
        .main-banner__content-title
            h1 lorem ipsum
        .main-banner__content-text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, deleniti inventore neque autem quaerat eaque, quibusdam explicabo suscipit consequuntur magnam dolorem ex sint, maxime nobis saepe similique ipsa tempore maiores.
        .main-banner__content-button-wrapper
            .big-button
                a(href="#", target="self") Lorem


// // Main banner
    