// Nav block
.nav-block-wrapper
    .container.navigation

        .logo
            a(href="#")
                img(src="img/logo.png", alt="Money4Chat")

        button.menu-link
            span.line.line-1
            span.line.line-2
            span.line.line-3

        #navigation-toggle.navigation__toggle-button 

        nav.navigation-list
            ul
                li
                    a(href="#", target="self") Home
                li
                    a(href="#", target="self") About
                li
                    a(href="#", target="self") Marketing

// //Nav block

// Main banner
//- .container
//-     .row.main-banner

// // Main banner
    