//Section

section.container.section
    .row
        .col-md-6
            img(src="img/1.jpg", alt="First blog img")
        .col-md-6
            .section__content
                .section__content-title
                    h3 Lorem ipsum
                    
                .section__content-text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fuga tempore pariatur, natus molestiae doloremque nisi itaque ea dicta deserunt saepe. Temporibus ea possimus obcaecati consequuntur iusto, pariatur unde eius.
                .section__content-link
                    a(href="#", target="self") Link...
// //Section