//Section

section.container.section
    //- .row
    //-     .col-md-6
    //-         img(src="img/1.jpg", alt="First blog img")
    //-     .col-md-6
    //-         .section__content
    //-             .section__content-title
    //-                 h3 Lorem ipsum
                    
    //-             .section__content-text
    //-                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fuga tempore pariatur, natus molestiae doloremque nisi itaque ea dicta deserunt saepe. Temporibus ea possimus obcaecati consequuntur iusto, pariatur unde eius.
    //-             .section__content-link
    //-                 a(href="#", target="self") Link...

    .row.red-outline
        .col-md-6
            img(src="img/card1.jpg", alt="make money for chatting")
        .col-md-6
            h1.section__heading make money for chatting
            p.section__text <span class="highlighted-text">Making money for chatting</span> is today possible, thanks to an innovative web application, specially built to let users interact and exchange gifts.
            p.section__text While several websites offer the possibility to users to participate as performers, also known as “webcam model”, and <span class="highlighted-text">earn money online</span> for streaming themselves, <a href="https://wematcher.com/" target="_blank">WeMatcher.com</a> instead, gives to every single user the possibility to send and receive gifts, which can be converted into real money with a simple click.
            p.section__text If you are wondering which is everyone’s dream today, you will be not surprised to discover that most people are dreaming and aiming to increase their incomes. Reason why having the chance <span class="highlighted-text">earn money online</span> it’s the real game changer.
            p.section__text With the simple need of an internet connection and a device, either a mobile, tablet or a computer, everyone is today able to be online for few hours daily, from the total comfort of they own homes, offices or public spaces. Giving the opportunity of <span class=highlighted-text>making money for chatting</span> available to almost everybody on the planet.
    .row.red-outline
        .col-md-6.order-md-2
            img(src="img/card2.jpg", alt="earn money online")
        .col-md-6.order-md-1
            h2.section__heading earn money online
            p.section__text By this point, you probably realized that <span class"highlighted-text">earning money online</span> it’s much easier than you expected, a realistic outlook that requires no special skills or knowledge. For sure you are, as many millions of people worldwide, confident with using social networks and messaging apps. And for sure, you are also able to transform these basic activities into your chance to <span class="highlighted-text">make money for chatting</span>. 
            p.section__text Imagine dedicating only three-four hours of your daily time to this activity and, while making new friends or just streaming yourself on webcam, increase your monthly income of an average of 1500 Euro: wouldn’t this be fantastic?!
            p.section__text <span class="highlighted-text">Make money for chatting</span>, but more specifically, receiving around 1500 Euro every month can drastically change everyone’s life. Students, pensioners, housewives, freelancers and employee, can all see their routines transformed thanks to such amount. Forget the struggle and stress caused by the never-ending utility bills, the unexpected college expenses, the overwhelming monthly loans installments, the always present monthly residential rent and unpredicted medical bills, and all those moneys related issue that hurt our lives. Earing money online can make all these problems disappear forever.  
    .row.red-outline
        .col-md-6
            img(src="img/card3.jpg", alt="chat for money")
        .col-md-6
            h3.section__heading chat for money
            p.section__text There are several companies and application that claims to let their users to <span class="highlighted-text">chat for money</span>, and they do so by rewarding the chatters for the time spent or the numbers of character typed. Usually those companies are involved into the real estate, commercial or marketing businesses, and chatters are basically online operators trained to act as costumer or commercial support agents. 
            p.section__text Others instead, as mentioned before, are hiring “webcam models”, whom are to perform on webcam shows for adult websites. The common denominator for all of them is that users are paid directly by the company/platform and are so bound to respect “employee” rules and duties, without the freedom given by WeMatcher, which instead let every user <span class="highlighted-text">chat for money</span> in total freedom of his/her own will. 
            p.section__text The main secret that makes this system so special is the idea behind the whole platform which was created to let every type of person able to receive or send virtual gifts between each other, in total anonymity and safety. 
            p.section__text Receiving those gifts, that equals to <span class="highlighted-text">money for chat</span>, can be counted as a reward for a friendly chat, a nice video call, a private online lesson or a flirting and sexy mutual pleasuring time. Also, there are no restrictions in terms of genders, nationality, religion, and sexual orientations (to mention few), extending the possibilities to get <span class="highlighted-text">money for chat</span> to a large number of subjects located in any part of the globe, speaking any language and behaving uniquely as it pleases. 

    .row.red-outline.red-outline--addpadding
        h4.section__heading gifts, coins, moneys
        p.section__text The way the <span class="highlighted-text">money earned for chatting</span> are credited and subsequently delivered to each user its based on a very simple system of exchanges that automatically converts the gifts received into their value in WM Coins. These WM Coins are immediately counted and credited into the user personal wallet.
        img(src="img/2.jpg", alt="scheme")
        p.section__text Once the WM Coins are credited into the personal wallet and their amount reached the equivalent value of 30 Euro or more, the founds can be withdrawn directly into a preselected e-wallet or bank card. In few days the founds in Euro will be electronically transferred, credited and available to be spent as best believed. 
        p.section__text To learn how to use WeMatcher, build your personal profile and account and start immediately to <span class="highlighted-text">earn money for chatting<span> follow our instructions here:<br> <a href="https://www.wematcher.com/" target="_blank">BECOME RICH NOW!</a>.
    .row.red-outline.red-outline--addpadding
        h4.section__heading conclusions
        p.section__text <span class="highlighted-text">Making money while chatting</span> it is indeed a very exiting and potential new opportunity, a kind that can bring tangible changes into everyone personal economy and life. Also, influencing the user’s closest people, as family members, relatives, friends and loved ones. 
        p.section__text We do hope that our small research and relative information will help our attentive readers into realizing the dream of increasing their own income, making possible to realize important life goals or simply purchasing wished goods, for themselves or others. 
        p.section__text Freedom and independence are basic human rights that are sometimes impossible to achieve without a decent and stable income, specially in some remoted areas of our beautiful world. 
        p.section__text  It is important to remind our readers that with the constant growing number of unfaithful and scamming websites and platform on the internet, it’s best to choose a professional and trustable web platform, one that can guarantee users personal data secure management, privacy and respect, as WeMatcher.
        p.section__text Also, should be noted that the possibility to <span class="highlighted-text">make money online</span> is commonly restricted to adults only, persons of minimum 18 years old or more. 






// //Section