@import "../fonts/glacial-indifference-web-font/glacial-font.css";
@import "../fonts/font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Utils
   ========================================================================== */
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Base
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
.big-button {
  text-align: left;
}
.big-button a {
  display: inline-block;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #dd3333;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* ==========================================================================
   Logo
   ========================================================================== */
.language-switcher-wrap {
  position: relative;
}
.language-switcher {
  position: absolute;
  top: 34px;
  right: 15px;
  color: #545454;
  z-index: 10000;
  cursor: pointer;
}
.language-switcher::before {
  content: url(../img/flags/translate.png);
  padding-top: 2px;
}
.language-switcher .language-name {
  padding-left: 5px;
  font-size: 16px;
}
.language-switcher .language-switcher__italian::after {
  content: url(../img/flags/italian.png);
  padding-top: 5px;
}
.language-switcher .language-switcher__russian::after {
  content: url(../img/flags/russian.png);
  padding-top: 5px;
}
.language-switcher .language-switcher__english::after {
  content: url(../img/flags/english.png);
  padding-top: 5px;
}
/* ==========================================================================
   Section
   ========================================================================== */
.section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section .section__content-title h3 {
  font-size: 24px;
  font-weight: 500;
}
.section .section__content-text {
  font-size: 14px;
  color: #545454;
}
.section .row {
  margin-bottom: 50px;
}
.section .section__content-link a {
  font-size: 16px;
  font-weight: 700;
  color: #dd3333;
}
.section .highlighted-text {
  color: #dd3333;
}
.section .section__heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  color: #575757;
}
.section .section__text {
  font-weight: 400;
  font-size: 14px;
  color: #545454;
}
/* ==========================================================================
   Footer
   ========================================================================== */
.top-bar {
  background-color: #dd3333;
  color: #fff;
  font-size: 14px;
}
.top-bar p {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.top-bar .top-bar__email {
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}
.top-bar .top-bar__email .top-bar__email-i-wrapper {
  display: inline-block;
}
.top-bar .top-bar__email .top-bar__email-i-wrapper i {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  border-radius: 2px;
}
.top-bar .top-bar__social {
  float: right;
}
.top-bar .top-bar__social a {
  background-color: #e35b5b;
  border-radius: 2px;
  transition: 0.2s ease-in;
}
.top-bar .top-bar__social a:hover,
.top-bar .top-bar__social a:focus,
.top-bar .top-bar__social a:active {
  background-color: #fff;
  transition: 0.2s ease-in;
}
.top-bar .top-bar__social .top-bar__social__item-bg {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}
.top-bar .top-bar__social i {
  padding: 3px 5px;
  color: #fff;
  transition: 0.2s ease-in;
}
.top-bar .top-bar__social i:hover,
.top-bar .top-bar__social i:focus,
.top-bar .top-bar__social i:active {
  color: #dd3333;
  transition: 0.2s ease-in;
}
.nav-block-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-block-wrapper a {
  text-decoration: none;
}
.nav-block-wrapper a h1 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 28px;
  color: #dd3333;
}
.nav-block-wrapper ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-block-wrapper ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s ease-in;
}
.nav-block-wrapper ul li:hover,
.nav-block-wrapper ul li:focus,
.nav-block-wrapper ul li:active {
  background-color: #dd3333;
  transition: 0.2s ease-in;
}
.nav-block-wrapper ul li a {
  display: block;
  color: #545454;
  padding: 32px 30px;
  transition: 0.2s ease-in;
}
.nav-block-wrapper ul li a:hover,
.nav-block-wrapper ul li a:focus,
.nav-block-wrapper ul li a:active {
  color: #fff;
  transition: 0.2s ease-in;
}
.main-banner {
  position: relative;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.main-banner .main-banner__content-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'Roboto', sans-serif;
}
.main-banner .main-banner__content-wrapper .main-banner__content-title {
  color: #fff;
}
.main-banner .main-banner__content-wrapper .main-banner__content-title h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 6px 12px;
  width: auto;
  max-width: 32%;
  margin-bottom: 16px;
}
.main-banner .main-banner__content-wrapper .main-banner__content-title h1 .themecolor {
  color: #dd3333;
}
.main-banner .main-banner__content-wrapper .main-banner__content-text {
  background-color: rgba(0, 0, 0, 0.24);
  width: auto;
  max-width: 55%;
  margin-bottom: 24px;
}
.main-banner .main-banner__content-wrapper .main-banner__content-text p {
  margin: 0;
  padding: 6px 12px;
  color: #fff;
}
