/* ==========================================================================
   Variables
   ========================================================================== */

@themecolor: #ff0000;
@themecolortint: #ff2727;
@menutext: #545454;
@heading: #575757;