/* ==========================================================================
   Section
   ========================================================================== */
.section {
    margin-top: 50px;

    .section__content-title {
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
    }

    .section__content-text {
        font-size: 14px;
        color: @menutext;
    }

    .row {
        margin-bottom: 50px;
    }

    .section__content-link {
        a {
            font-size: 16px;
            font-weight: 700;
            color: @themecolor; 
        }
    }
}

